img{
    width: 500px;
    height: 300px;
    margin: 0px;
}
body{
    background:moccasin;
    margin: auto;
    text-align:initial;
}
h1{
    font:oblique;
    margin: 20px 125px;
}
iframe{
    width: 500px;
    height: 300px;
    margin: 0px 70px;
}
.main{
    margin-bottom: 0px;
    margin: auto;
    padding: 10px;
    width: 50%;
}
footer{
background-color: white;
border: white;
margin: auto;
text-align: center;
height: 30px;

}
header {
    background-color: white;
    margin-bottom: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0%;
}
.hh1{
    position: absolute;
    text-align: right;
    left: 740px;
    top: 100px;
    
}
a {
    margin: 0%;
    color: black;
    padding: 1px;
}
.aa{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 50px;

}

h3{
    color: aqua;
    position: sticky;
    top: px;
}
.h33{
    position: relative;
    left: 100px;
}
