/* Costumizando a página em geral */
body {
    background-color: #f5f5f5;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}
/* Costumizando o menu de navegação */
header {
    background-color: gold;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    border: 3px solid black;
}
/* Costumizando os botões em gerais do site */
button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(255, 217, 0);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid black;
}
/* Costumizando os botões em gerais do site */
button:hover {
    background-color: #ffd700;
}
/* Costumizando a lista dos protagonistas */
#listaprotagonista{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* Costumizando a lista dos protagonistas */
.protagonista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 15px;
    padding: 10px;
    width: 200px;
    background-color: gold;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
    border: 1px solid black;
}
/* Costumizando a imagem da lista */
.imgprotagonista {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 5px;
    padding: auto;
}
/* Costumizando a página de cadastro */
.abc {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    padding: 20px;
    width: 500px;
    height: fit-content;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    border: 3px solid black;
}
/* Ocultar a página de cadastro */
.oculto {
    display: none;
}
/* Costumizando o input do forms */
input {
    margin: 10px 0;
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}
/* Costumizando o input do forms */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
/* Costumizando o input do forms */
#formulario {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: auto;
    height: fit-content;
}
/* Costumizando o botão de excluir */
.bbb{
    background-color: red;
}

#desc{
    text-align: center;
}
/* Centralizando o titulo da página */
h1{
    text-align: center;
}
/* Mudando a cor dos botões da página de navegação para cinza */
.navegation{
    background-color: gray;


}
/* Quando o cursor do mouse ficar encima o botão der uma clareado */
.navegation:hover{
    background-color: rgb(158, 157, 157) ;
}
    